<div class="container mb-3">
  <div class="card col-12">
    <div class="card-body">
      <h5 class="card-title">
        <a href="/post/{{id}}" class="">
          {{title}}
        </a>
        {{#if user.username}}
          <a class="col-12" href="/dashboard/edit/{{id}}">
            <button
              class="btn btn-primary"
              style="position: absolute; right:15px;"
            >Edit Post</button>
          </a>
        {{/if}}
      </h5>
      <p class="card-text">{{post_content}}</p>
      <b>{{user.username}}</b>
      |
      {{format_date created_at}}
      |
      <a href="/post/{{id}}" class="card-link">{{comments.length}}
        {{format_plural "comment" comments.length}}</a>
    </div>
  </div>
</div>